/* line 5, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/styleStaff.scss */
.Vert {
  background-color: #abf57d;
  color: #43760d;
}

/* line 12, ../sass/styleStaff.scss */
.Rouge {
  background-color: #FFBABA;
  color: #D8000C;
}

/* line 17, ../sass/styleStaff.scss */
.Orange {
  background-color: #FEEFB3;
  color: #9F6000;
}

/* line 22, ../sass/styleStaff.scss */
body {
  background-color: #DADFE1;
  width: 100%;
}
/* line 2, ../library/_typos.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
/* line 9, ../library/_typos.scss */
body .small {
  font-size: 1.5em;
  color: gray;
}
/* line 14, ../library/_typos.scss */
body body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}
/* line 19, ../library/_typos.scss */
body p, body label {
  font-family: 'Montserrat', sans-serif;
}
/* line 23, ../library/_typos.scss */
body mark, body del, body ins, body u, body strong, body em, body abbr {
  font-size: 1.2em;
}
/* line 27, ../library/_typos.scss */
body ul, body li {
  list-style-type: circle;
}

/* line 28, ../sass/styleStaff.scss */
.btn {
  height: inherit;
  width: 20%;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  color: snow;
  border: 1px solid black;
  border-radius: 1em;
  line-height: 2em;
  background-color: #3498db;
  min-width: 7em;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}
/* line 14, ../library/_btn.scss */
.btn:hover {
  background-color: #5faee3;
  cursor: pointer;
}
/* line 18, ../library/_btn.scss */
.btn:active {
  background-color: gray;
}

/* line 35, ../sass/styleStaff.scss */
header {
  background-color: #197cb1;
  line-height: 3em;
}
/* line 39, ../sass/styleStaff.scss */
header h1 {
  text-align: center;
  color: #E4F1FE;
}
/* line 43, ../sass/styleStaff.scss */
header .icon {
  float: left;
  margin-left: 2px;
  margin-top: 0.5em;
  border-bottom: 17px double #E4F1FE;
  border-top: 6px solid #E4F1FE;
  content: "";
  height: 5px;
  width: 30px;
}
/* line 53, ../sass/styleStaff.scss */
header .icon #menu {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #197cb1;
  margin-top: 2.5em;
  display: none;
}
/* line 62, ../sass/styleStaff.scss */
header .icon #menu nav {
  display: inline-block;
  width: 100%;
}
/* line 26, ../library/_compos.scss */
header .icon #menu nav li {
  list-style: none;
  font-size: 1em;
  border: 1px solid black;
  text-align: center;
  background-color: #1e9cdb;
}
/* line 33, ../library/_compos.scss */
header .icon #menu nav li a {
  text-decoration: none;
  width: 100%;
  display: block;
  color: snow;
  box-sizing: border-box;
  padding: 0.1em 0.3em 0.1em 0.3em;
}
/* line 41, ../library/_compos.scss */
header .icon #menu nav li a:hover {
  text-decoration: underline;
  color: #000;
}
/* line 48, ../library/_compos.scss */
header .icon #menu nav .active a {
  background-color: lime;
}
/* line 52, ../library/_compos.scss */
header .icon #menu nav .disabled {
  background-color: #9b9a9a;
}
/* line 55, ../library/_compos.scss */
header .icon #menu nav .disabled a:hover {
  text-decoration: none;
  cursor: default;
  color: snow;
}
/* line 65, ../sass/styleStaff.scss */
header .icon #menu nav li {
  margin-top: 1em;
  border-color: #E4F1FE;
}

/* line 75, ../sass/styleStaff.scss */
.navtitre {
  width: 79%;
  margin-left: 1%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  margin-left: 7%;
  font-size: 2em;
  vertical-align: middle;
}

/* line 84, ../sass/styleStaff.scss */
a {
  width: 100%;
}

/* line 89, ../sass/styleStaff.scss */
section .resultat {
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1em;
  background-color: #c3c3c3;
  border-width: 2px;
  border-style: inset;
}
/* line 96, ../sass/styleStaff.scss */
section .resultat a {
  color: black;
  text-decoration: none;
}
/* line 101, ../sass/styleStaff.scss */
section .resultat h2 {
  text-align: center;
  font-size: 1.4em;
  margin-top: 1em;
}
/* line 106, ../sass/styleStaff.scss */
section .resultat img {
  border-radius: 10px;
  margin-top: 1em;
  width: 100%;
  height: auto;
  width: 24.66667%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
}
/* line 114, ../sass/styleStaff.scss */
section .resultat .description {
  width: 58%;
  margin-left: 4.5%;
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  margin-top: 1em;
  padding: 0.7em;
  border: 1px solid black;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
/* line 124, ../sass/styleStaff.scss */
section .resultat .etat {
  width: 49.66667%;
  margin-left: 29.91667%;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  margin-top: 1em;
  border: 1px solid black;
  margin-bottom: 1.5em;
  padding: 0.5em;
}
/* line 135, ../sass/styleStaff.scss */
section form input {
  margin-top: 2em;
  height: 2em;
  width: 24.66667%;
  margin-left: 17%;
  display: inline-block;
  font-size: 1rem;
}
/* line 141, ../sass/styleStaff.scss */
section form select {
  margin-top: 3em;
  height: 2em;
  width: 16.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 147, ../sass/styleStaff.scss */
section form .btn {
  margin-top: 3em;
  width: 24.66667%;
  margin-left: 37.83333%;
  display: inline-block;
  font-size: 1rem;
}
/* line 153, ../sass/styleStaff.scss */
section .document img {
  margin-top: 1em;
  height: auto;
  width: 16.33333%;
  margin-left: 42%;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
}
/* line 159, ../sass/styleStaff.scss */
section .document .etat, section .document .synopsis {
  width: 78.83333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  border: 2px solid black;
  padding: 0.7em;
  margin-top: 0.5em;
}
/* line 165, ../sass/styleStaff.scss */
section .document .etat {
  text-align: center;
  margin-bottom: 1.5em;
}
/* line 169, ../sass/styleStaff.scss */
section .document .element {
  width: 33%;
  margin-left: 33.66667%;
  display: inline-block;
  font-size: 1rem;
  border: 2px solid black;
  padding: 0.7em;
  margin-top: 1em;
  vertical-align: top;
  text-align: center;
}
/* line 179, ../sass/styleStaff.scss */
section h1 {
  color: #E4F1FE;
  line-height: 1.8em;
  background-color: #197cb1;
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}
/* line 187, ../sass/styleStaff.scss */
section .line, section .doc {
  border: 1px solid black;
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 190, ../sass/styleStaff.scss */
section .line p, section .doc p {
  text-align: center;
  width: 12.16667%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  padding: 1em;
  vertical-align: middle;
}
/* line 197, ../sass/styleStaff.scss */
section .line {
  background-color: #6bb5f5;
  margin-top: 1em;
}
/* line 202, ../sass/styleStaff.scss */
section .doc:nth-child(2n+2) {
  background-color: #6bb5f5;
}
/* line 206, ../sass/styleStaff.scss */
section .doc:last-child {
  margin-bottom: 1em;
}
/* line 209, ../sass/styleStaff.scss */
section .doc form {
  margin-bottom: 1em;
}
/* line 211, ../sass/styleStaff.scss */
section .doc form select {
  margin-top: 1em;
  width: 16.33333%;
  margin-left: 29.5%;
  display: inline-block;
  font-size: 1rem;
}
/* line 215, ../sass/styleStaff.scss */
section .doc form button {
  width: 16.33333%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
  height: 2em;
}

/* line 224, ../sass/styleStaff.scss */
form div {
  margin-top: 2em;
  width: 83%;
  margin-left: 8.66667%;
  display: inline-block;
  font-size: 1rem;
}
/* line 228, ../sass/styleStaff.scss */
form div input {
  width: 24.66667%;
  margin-left: 0.33333%;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 1em;
  height: 2em;
}
/* line 233, ../sass/styleStaff.scss */
form div .btn {
  margin-top: 2em;
  width: 16.33333%;
  margin-left: 42%;
  display: inline-block;
  font-size: 1rem;
}
/* line 238, ../sass/styleStaff.scss */
form div label {
  width: 24.66667%;
  margin-left: 25.33333%;
  display: inline-block;
  font-size: 1rem;
}

/* line 244, ../sass/styleStaff.scss */
.listedoc, .deletedoc {
  margin-top: 3em;
  font-family: 'Montserrat', sans-serif;
  width: 49.66667%;
  margin-left: 25.33333%;
  display: inline-block;
  font-size: 1rem;
}

/* line 249, ../sass/styleStaff.scss */
.listedoc {
  font-weight: bolder;
}
/* line 251, ../sass/styleStaff.scss */
.listedoc div {
  margin-top: 1em;
  font-weight: normal;
}
