@mixin btn($width,$color) {

  width: $width;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  color: snow;
  border: 1px solid black;
  border-radius: 1em;
  line-height: 2em;
  background-color: $color;
  min-width: 7em;

  &:hover {
    background-color: lighten($color, 10%);
    cursor: pointer;
  }
  &:active {
    background-color: gray;
  }
}

@mixin btn-fancy($width,$color) {
  width: $width;
  @include background-image(radial-gradient(45px 45px, lighten($color, 30%) 10px, $color 30px));
  @include box-shadow(0px 0px 10px 7px #777777);
  transform: rotate3d(1, -1, 1, 25deg);
}

@mixin btn-fat($width) {
  border: none;
  border-radius: 0;
  background-color: gray;
  width: $width;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
  color: snow;
  min-width: 7em;
  line-height: 2em;
}