@mixin header($fontsize,$color) {
  font-size: $fontsize;
  color: $color;
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

@mixin jumbotron($fontsize,$color) {
  p, h1 {
    font-size: $fontsize;
    color: $color;
  }
  font-size: 1.25em;
  border-radius: 1em;
  background-color: rgb(214, 212, 212);
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

@mixin navbar($fsize,$color,$color2) {
  display: inline-block;
  li {
    list-style: none;
    font-size: $fsize;
    border: 1px solid black;
    text-align: center;
    background-color: $color;

    & a {
      text-decoration: none;
      width: 100%;
      display: block;
      color: snow;
      box-sizing: border-box;
      padding: 0.1em 0.3em 0.1em 0.3em;

      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
  }

  .active a {
    background-color: $color2;
  }

  .disabled {
    background-color: #9b9a9a;

    & a:hover {
      text-decoration: none;
      cursor: default;
      color: snow;
    }
  }
}

@mixin breadcrumb($fsize,$color1,$color2) {
  display: inline-block;
  padding: 0;

  li {
    list-style: none;
    float: left;
    font-size: $fsize;
    padding: 0;

    & a {
      text-decoration: none;
      width: 100%;
      display: block;
      color: #666;
      padding: 0.3em;
      background-color: $color1;
      box-sizing: border-box;

      &:hover {
        color: #444;
        text-decoration: underline
      }
    }
  }

  .active a {
    background-color: $color2;
    color: #fff;
  }

  .disabled a {
    background-color: #9b9a9a;
    &:hover {
      color: #666;
      text-decoration: none;
      cursor: default;
    }
  }
}

@mixin pagination($fsize,$color) {
  display: inline-block;
  padding: 0;

  li {
    list-style: none;
    float: left;
    font-size: $fsize;
    padding: 0;

    & a {
      text-decoration: none;
      width: 100%;
      display: block;
      color: #666;
      padding: 0.3em;
      background-color: $color;
      box-sizing: border-box;
      border: 1px solid black;

      &:hover {
        color: #444;
        text-decoration: underline
      }
    }
  }
}