@mixin grid($tailleCol,$nbCol,$widthbox,$offset) {

  $widthGout: (100 - ($nbCol * $tailleCol)) / $nbCol;
  $width: $widthbox * $tailleCol + ($widthbox - 1) * $widthGout;
  $margin-left: $offset * $tailleCol + ($offset + 1) * $widthGout;

  width: $width;
  margin-left: $margin-left;
  display: inline-block;
  //    float: left;
  font-size: 1rem;
}

@mixin container() {
  font-size: 0em; //inline-block

  //    &:after{ //float clear fix
  //        content: "";
  //        display: block;
  //        float: none;
  //        clear: both;
  //    }
}