@mixin typos() {
  h1, h2, h3, h4, h5, h6 {
    //font-size: 2.5em;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .small {
    font-size: 1.5em;
    color: gray;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
  }

  p, label{
      font-family: 'Montserrat', sans-serif;
  }

  mark, del, ins, u, strong, em, abbr {
    font-size: 1.2em;
  }

  ul, li {
    list-style-type: circle;
  }
}

@mixin list() {
  list-style-type: square;
}

@mixin listnone() {
  li {
    list-style: none;
  }
}

@mixin leftalign {
  text-align: left;
}

@mixin rightalign {
  text-align: right;
}

@mixin centeralign {
  text-align: center;
}

@mixin justifiedalign {
  text-align: justify;
}

@mixin upper {
  text-transform: uppercase;
}

@mixin lower {
  text-transform: lowercase;
}

@mixin swapcolor {
  li:nth-child(2n+1) {
    color: #364388;
  }
}

@mixin completedborder {
  border: 1px solid black;
}

@mixin hover {
  &:hover {
    font-size: 1.2em;
  }
}