@import "../library/library";
@import "compass/reset";

$tailleCol: 8%;
$nbCol: 12;

.Vert {
  background-color: #abf57d;
  color: #43760d;
}

.Rouge {
  background-color: #FFBABA;
  color: #D8000C
}

.Orange {
  background-color: #FEEFB3;
  color: #9F6000;
}  

body {
  background-color: #DADFE1;
  @include typos;
  width: 100%;
}

.btn{
  height: inherit;
  @include btn(20%, #3498db);
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}

header {
  background-color: #197cb1;
  line-height: 3em;

  h1 {
    @include centeralign;
    color: #E4F1FE;
  }
  .icon {
    float: left;
    margin-left: 2px;
    margin-top: 0.5em;
    border-bottom: 17px double #E4F1FE;
    border-top: 6px solid #E4F1FE;
    content: "";
    height: 5px;
    width: 30px;

    #menu {
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #197cb1;
      margin-top: 2.5em;

      nav {
        @include navbar(1em, #1e9cdb, lime);
        width: 100%;
        li {
          margin-top: 1em;
          border-color: #E4F1FE;
        }
      }
      display: none;
    }
  }
}

.navtitre {
  @include grid(9%, 10, 8, 0);
  text-align: center;
  margin-left: 7%;
  font-size: 2em;
  vertical-align: middle;

}

a {
  width: 100%;
}

section {
    .resultat {
      @include grid($tailleCol, $nbCol, 10, 1);
      margin-top: 1em;
      background-color: #c3c3c3;
      border-width: 2px;
      border-style: inset;
        
         a{
            color: black;
            text-decoration: none;
        }

      h2 {
        @include centeralign;
        font-size: 1.4em;
        margin-top: 1em;
      }
        img {
        border-radius: 10px;
        margin-top: 1em;
        width: 100%;
        height: auto;
        @include grid($tailleCol, $nbCol, 3, 0);
      }

      .description{
        @include grid($tailleCol, $nbCol, 7, 0.5);
        vertical-align: top;
        margin-top: 1em;
        padding: 0.7em;
        border: 1px solid black;
        border-top-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }

      .etat {
        @include grid($tailleCol, $nbCol, 6, 3.55);
        @include centeralign;
        margin-top: 1em;
        border: 1px solid black;
        margin-bottom: 1.5em;
        padding: 0.5em;
      }
    }

    form {
      input {
        margin-top: 2em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 3, 2);
      }

      select {
        margin-top: 3em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 2, 1);
      }

      .btn {
        margin-top: 3em;
        @include grid($tailleCol, $nbCol, 3, 4.5);
      }
    }
      .document{
          img{
        margin-top: 1em;
        height: auto;
        @include grid($tailleCol, $nbCol, 2, 5);
              border-radius: 10px;
          }
          .etat, .synopsis{
              @include grid($tailleCol,$nbCol,9.5,1);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 0.5em;
          }
          .etat{
              text-align: center;
              margin-bottom: 1.5em;
          }
          .element{
              @include grid($tailleCol,$nbCol,4,4);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 1em;          
            vertical-align: top;
              @include centeralign;
          }
      }

  h1 {
    color: #E4F1FE;
    line-height: 1.8em;
    background-color: #197cb1;
    font-size: 2em;
    @include centeralign;
    margin-top: 1em;
  }
    .line,.doc{
        border: 1px solid black;
        @include grid($tailleCol,$nbCol,10,1);
        p{
            @include centeralign;
            @include grid($tailleCol,$nbCol,1.5,1);
            padding: 1em;
            vertical-align: middle;
        }
    }
    .line{
        background-color: #6bb5f5;
        margin-top: 1em;
    }
    .doc{
      &:nth-child(2n+2) {
        background-color: #6bb5f5;
      }

      &:last-child{
        margin-bottom: 1em;
      }
      form{
        margin-bottom: 1em;
        select{
          margin-top: 1em;
          @include grid($tailleCol,$nbCol,2,3.5);
        }
        button{
          @include grid($tailleCol,$nbCol,2,1);
          height:2em;
        }
      }
    }
}

form{
  div{
    margin-top: 2em;
      @include grid($tailleCol,$nbCol,10,1);

    input{
      @include grid($tailleCol, $nbCol, 3, 0);
      margin-bottom: 1em;
      height: 2em;
    }
      .btn{
    margin-top: 2em;
    @include grid($tailleCol, $nbCol, 2, 5);
  }

    label{
      @include grid($tailleCol, $nbCol, 3, 3);
    }

    }
  }
.listedoc, .deletedoc {
  margin-top: 3em;
  font-family: 'Montserrat', sans-serif;
  @include grid($tailleCol,$nbCol,6,3);
}
.listedoc{
    font-weight: bolder ;
  div{
    margin-top: 1em;
    font-weight: normal;
  }
}