@import "../library/library";
@import "compass/reset";

$tailleCol: 8%;
$nbCol: 12;

.Vert {
  background-color: #abf57d;
  color: #43760d;
}

.Rouge {
  background-color: #FFBABA;
  color: #D8000C
}

.Orange {
  background-color: #FEEFB3;
  color: #9F6000;
}

body {
  background-color: #DADFE1;
  @include typos;
  width: 100%;
}

.btn{
  height: inherit;
  @include btn(20%, #3498db);
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
}

header {
  background-color: #197cb1;
  line-height: 3em;

  h1 {
    @include centeralign;
    color: #E4F1FE;
  }
    //Création de l'icone de la navigation
  .icon {
    float: left;
    margin-left: 2px;
    margin-top: 0.5em;
    border-bottom: 17px double #E4F1FE;
    border-top: 6px solid #E4F1FE;
    content: "";
    height: 5px;
    width: 30px;
      //menu déroulant
    #menu {
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #197cb1;
      margin-top: 2.5em;

      nav {
        @include navbar(1em, #1e9cdb, lime);
        width: 100%;
        li {
          margin-top: 1em;
          border-color: #E4F1FE;
        }
      }
      display: none;
    }
  }
}

.navtitre {
  @include grid(9%, 10, 8, 0);
  text-align: center;
  margin-left: 7%;
  font-size: 2em;
  vertical-align: middle;
}

a {
  width: 100%;
}

//Mise en forme de tous les h1 dans une section
section{
    h1 {
      color: #E4F1FE;
      line-height: 1.8em;
      background-color: #197cb1;
      font-size: 2em;
      @include centeralign;
      margin-top: 1em;
    }
}
//TELEPHONE
@media screen and (max-width: 40em) {
  section {
    h2 {
      @include centeralign;
      font-size: 1.4em;
      margin-top: 1em;
    }
      
    //Placement et taille de l'image
    img {
      margin-top: 1em;
      max-width: 100%;
      height: auto;
      @include grid($tailleCol, $nbCol, 10, 1);
    }

    form {
      input {
        margin-top: 2em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 10, 1);
      }

      select {
        margin-top: 3em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 10, 1);
      }

      .btn {
        margin-top: 3em;
        @include grid($tailleCol, $nbCol, 5, 3.5);
      }
    }

    .resultat {
        a{
            color: black;
            text-decoration: none;
        }

      .description, .etat{
        @include grid($tailleCol,$nbCol,9.5,1);
        border: 2px solid black;
        padding: 0.7em;
        margin-top: 0.5em;
      }
        .text{
            height: 8em;
        }
      .etat{
        margin-bottom: 1.5em;
        text-align: center;
      }
    }
      .document{
          .element ,.etat ,.synopsis{
              @include grid($tailleCol,$nbCol,9.5,1);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 0.5em;
          }
          .etat{
              text-align: center;
              margin-bottom: 1.5em;
          }
      }
  }
}
//TABLETTE
@media screen and (min-width: 40em) and (max-width: 64em){
  section {
    .resultat {
      @include grid($tailleCol, $nbCol, 10, 1);
      margin-top: 1em;
      background-color: #c3c3c3;
      border-width: 2px;
      border-style: inset;
        
         a{
            color: black;
            text-decoration: none;
        }

      h2 {
        @include centeralign;
        font-size: 1.4em;
        margin-top: 1em;
      }
        img {
        border-radius: 10px;
        margin-top: 1em;
        width: 100%;
        height: auto;
        @include grid($tailleCol, $nbCol, 3, 0);
            border-radius: 10px;
      }

      .description{
        @include grid($tailleCol, $nbCol, 7, 0.5);
        vertical-align: top;
        margin-top: 1em;
        padding: 0.7em;
        border: 1px solid black;
        border-top-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }

      .etat {
        @include grid($tailleCol, $nbCol, 6, 3.55);
        @include centeralign;
        margin-top: 1em;
        border: 1px solid black;
        margin-bottom: 1.5em;
        padding: 0.5em;
      }
    }

    form {
      input {
        margin-top: 2em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 3, 2);
      }

      select {
        margin-top: 3em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 2, 1);
      }

      .btn {
        margin-top: 3em;
        @include grid($tailleCol, $nbCol, 5, 3.5);
      }
    }
      .document{
          img{
        margin-top: 1em;
        width: 100%;
        height: auto;
        @include grid($tailleCol, $nbCol, 4, 1);
              border-radius: 10px;
          }
          .etat, .synopsis{
              @include grid($tailleCol,$nbCol,9.5,1);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 0.5em;
          }
          .etat{
              text-align: center;
              margin-bottom: 1.5em;
          }
          .element{
              @include grid($tailleCol,$nbCol,4.4,1);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 7em;          
            vertical-align: top;
          }
      }
  }
}
//NAVIGATEUR
@media screen and (min-width: 64em) {

    
  section {

    .resultat {
      @include grid($tailleCol, $nbCol, 5, 0.65);
        vertical-align: top;
      margin-top: 1em;
      background-color: #c3c3c3;
      border-width: 2px;
      border-style: inset;
        height: 25em;

         a{
            color: black;
            text-decoration: none;
        }

      h2 {
        @include centeralign;
        font-size: 1.4em;
        margin-top: 1em;
      }
        img {
        border-radius: 10px;
        margin-top: 1em;
        height: auto;
        @include grid($tailleCol, $nbCol, 3, 0);
            border-radius: 10px;
      }

      .description{
        @include grid($tailleCol, $nbCol, 7, 0.5);
        vertical-align: top;
        margin-top: 1em;
        padding: 0.7em;
        border: 1px solid black;
        border-top-left-radius: 1em;
        border-bottom-right-radius: 1em;
          height: 10.5em;
          overflow: auto;
          
          p{
              margin-bottom: 4%;
          }
      }

      .etat {
        @include grid($tailleCol, $nbCol, 6, 3.55);
        @include centeralign;
        border: 1px solid black;
          padding: 0.7em;
          margin-top: 1em;
          margin-bottom: 1em;   
      }
    }

    form {
      input {
        margin-top: 5em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 6, 3);
      }

      select {
        margin-top: 6em;
        height: 2em;
        @include grid($tailleCol, $nbCol, 1.5, 0.5); 
          &:first-of-type{
        @include grid($tailleCol, $nbCol, 1.5, 4.25);
          }
      }

      .btn {
        margin-top: 6em;
        @include grid($tailleCol, $nbCol, 5, 3.5);
      }
    }
      .document{
           @include grid($tailleCol, $nbCol, 8, 2);
          margin-top: 2em;
          img{
        @include grid($tailleCol, $nbCol, 3, 4.5);
              border-radius: 10px;
          }
          .etat, .synopsis{
              @include grid($tailleCol,$nbCol,9.5,1);
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 0.5em;
          }
          .etat{
              text-align: center;
              margin-bottom: 1.5em;
          }
          .element{
              @include grid($tailleCol,$nbCol,4,4);
            @include centeralign;
              border: 2px solid black;
            padding: 0.7em;
            margin-top: 1em;          
            vertical-align: top;
          }
      }
    .docemprunt{
      margin-top: 5em;
      @include grid ($tailleCol,$nbCol,4,4);
      font-family: 'Montserrat', sans-serif;
      div{
        margin-top: 1em;
      }
    }
  }
}